body{
    margin-left: 21vw;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 5.6vh;
}

.note input {
    border: none;
    outline: none;
    background: transparent;  
    width: 100%;
    color: white; 
    padding: 5px;
    margin-left: 10px; 
    color: black;
    font-size: 20px;
}

.note {
    border-bottom: 2px solid black;  
    width: 250px;
} 

.card{ 
    margin-top: 30px; 
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 20vw;   
}
.btn1{
    border: none; 
    padding: 10px;
    margin-right: 2px;
    background-color: black;
    color: white;
}
.btn2{
    border: none; 
    padding: 10px;
    margin-left: 2px;
    background-color: black;
    color: white;
}
p{
    text-align: justify;
}

.img{
    width: 1px;
    height: 1px;
}

.post{
    margin-left: 3vw; 
    background-color: white;
    border-radius: 5px;
    width: 55vw;
    height: 88vh;
    box-shadow: 10px ;
}

.homePage{
    display: inline-flex;
}

.note, .user {
    display: flex;
    justify-content: space-around;
}

.user{
    margin-left: 75vw; 
}

.noteForm{
    width: 1000px;
}

label input[type="text"] {
    width: 200px; /* Set the width to your desired value */
}

.quill{
    height: 200px;
}