.container{
    display: flex;
    /* border: 2px solid green; */
    border-radius: 20px;
    width: 90%;
    height: 80vh;
    padding: 2vw;
    margin: auto;
    margin-top: 6vh;
    box-shadow: 0px 0px 20px 5px gray;
    /* position: fixed; */
}