.display{
    border: 3px solid black;
    border-radius: 10px;
    width: 70%;
    margin-left: 2vw;
    /* height: 100%; */
}
.title{
    text-align: center;
    margin-top: 1vh;
}
.input{
    border-radius: 5px;
}
.btn{
    border-radius: 5px;
}
.b{
    margin-left: 3vw;
    width: 6vw;
}
.i{
    margin-left: 3vw;
    width: 6vw;
}
.u{
    margin-left: 3vw;
    width: 6vw;
}
.left{
    margin-left: 3vw;
    width: 6vw;
}
.right{
    margin-left: 3vw;
    width: 6vw;
}
.center{
    margin-left: 3vw;
    width: 6vw;
}

.i{
    margin-left: 3vw;
    width: 6vw;
}
.notesTextArea{
    margin-left: 3vw;
    margin-top: 3vh;
    height: 60%;
    width: 90%;
}
.n{
    height: 60%;
    width: 95%;
}
.lab{
    margin-left: 3vw;
    margin-top: 1vw;
    margin-right: 1vw;
}