body {
    background-image: url(paper-note-memphis-background_53876-99284.avif);
  }
  
  .border {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: 5%;
  }
  .list {
    margin-top: 0vh;
    border: 2px solid black;
    border-radius: 8px;
    height: 80vh;
    width: 45vw;
    margin-left: 5vh;
    background-color: aquamarine;
  }
  .listBtn {
    margin-top: 10%;
    background-color: navy;
  }
  
  .notes {
    margin-top: 0vh;
    border: 2px solid black;
    height: 80vh;
    width: 90vw;
    margin-left: 10vw;
    margin-right: 2vw;
    background-color: rgb(12, 90, 90);
    border-radius: 8px;
  }
  .note {
    margin: 4%;
    height: 60vh;
    background-color: rgb(126, 165, 46);
  }
  .button {
    margin-left: 2%;
    padding: 10px;
    border-radius: 10px;
  }
  .button:hover {
    background-color: rgb(95, 7, 7);
  }
  
  .notes1 {
    margin: 1%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(173, 164, 164);
    text-size-adjust: 50%;
  }
  .list h1 {
    margin-left: 19px;
  }
  .notes h1 {
    margin-top: 1%;
  }
  .area {
    background-color: rgb(94, 17, 17);
  }
  .btn {
    height: 0%;
    width: 1%;
  }
  
  .head {
    background-color: rgb(77, 78, 78);
    height: 35px;
    /* border: 1px solid black; */
  }
  .head button {
    margin-left: 18px;
  }