.Navbox{
    width: 20vw;
    height: 86vh;
    margin-top: 3vh;
    margin-left: 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(39, 44, 39);
    overflow: auto;
    scrollbar-width: none;
}
.addNotesBtn{
    /* border: 2px solid black; */
    background-color: rgb(215, 215, 215);
    font-size: 20px;
    text-align: center;
    margin: 5px;
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 100%;
    font-weight: 900;
    margin-top: 15px;
}
.searchBtn{
    background-color: rgb(215, 215, 215);
    font-size: 20px;
    text-align: center;
    margin: 5px;
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 100%;
    font-weight: 900;
}
.addNotes{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    position: fixed;
    z-index: 10;
    /* height: 7%; */
    /* margin-left: 2%; */
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    width: 19vw;
    margin-left: 0.35vw;
    margin-top: 0.35vw;
    padding-bottom: 0.3vw;
}
.inputBox{
    /* border: 2px solid black; */
    width: 19vw;

    /* position: fixed; */
    text-align: center;
    background-color: white;
    border-radius: 20px;
}
.inputBox input{
    width: 75%;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 1%;
    margin-bottom: 0.3vw;
    /* margin-bottom: 10px; */
}
.inputBox .search{
    width: 59%;
}
.inputBox button{
    width: 15%;
    border-radius: 10px;
    font-size: 20px;
    margin: 2px;
}
.titleBtn{
    width: 83%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}
.titlesBox{
    margin-top: 42%;
}
.deleteBtn{
    font-size: 20px;
}

.updateBtn{
    position: fixed;
    right: 5.5vw;
    top: 9vh;
    font-size: 30px;
    border-radius: 10px;
}
.closeBtn{
    position: fixed;
    left: 27.5vw;
    top: 9vh;
    font-size: 30px;
    border-radius: 10px;
}
.space{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 20vw;
    padding-bottom: 4vh;
    position: fixed;
}
