.Navbox {
    display:column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e1d8d8;
    margin-left: 20px;
    margin-top: 20px;
    color: #c89d9d;
    border-radius: 10px;
  }
  
  .addNotes {
    display: flex;
    align-items: center;
  }
  
  .addNotesBtn, .searchBtn {
    background-color:rgb(173, 214, 255);
    border: none;
    color: #b63131;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  .inputBox {
    display: flex;
  }
  
  .inputBox input[type="text"] {
    padding: 8px;
    border: 1px solid #893030;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .btn {
    background-color: #9bb2c9;
    box-shadow: inset rgb(139, 0, 86);
    color: #bd1919;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
  }
  
  .titlesBox {
    margin-top: 20px;
  }
  
  .titleBtn {
    background-color: transparent;
    border: none;
    color: #0b0a0a;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .deleteBtn {
    background-color: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .updateClose {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .updateBtn, .closeBtn {
    background-color: #28a745;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .closeBtn {
    background-color: #dc3545;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbox {
      flex-direction: column;
    }
  
    .inputBox input[type="text"] {
      width: 100%;
    }
  
    .inputBox {
      flex-direction: column;
    }
  
    .addNotes {
      margin-bottom: 10px;
    }
  }
  