.NotesText_MainContainer {
  border: 1px solid white;
  margin-left: 3vh;
  margin-top: 5vh;
  width: 130vh;
  height: 80vh;
}
.text {
  margin-top: 3.5vh;
  margin-left: 5vh;
  font-size: 20px;
  padding-left: 1rem;
  padding-top: 1rem;
}
.text::placeholder {
  color: black;
  font-size: 20px;
}
