.main{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 59px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 1px;
    height: 95vh;
    width: 95vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 40px;
    display: flex;
    

}
.add{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 59px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 1px;
    height: 90vh;
    width: 25vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.notetitle{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 59px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 1px;
    height: 90vh;
    width: 65vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.addnote{
   border: 3px solid rgb(114, 108, 110);
    /* height: 7vh; */
    width: 24vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
}
.addntbtn{
    font-size:1.5vw;
    font-weight:bolder;
    /* margin-left: 3vw;
    margin-top: 2vh; */
    margin: 0.5vw;
    border-radius: 10px;
    width: 10vw;
    


}
.adjstbtn{
    display: flex;


}
.addntbtn:hover{
    background-color: black;
    color: white;
}
.inpt{
    margin-top: 1vh;
    margin-left: 3vw;

}
.title{
    width: 15vw;
    height: 3vh;
    border-radius: 10px;
    padding-left: 3vw;
    font-size: larger;
}
.maintitle{
    margin-top:2vh;
    text-align: center;
    font-size:3em;
    margin-left: 20vw;
}
.txtarea{
    margin-top:6vh;
    margin-left: 3vw;
}
.txtarea textarea{
    font-size: 2em;
    height: 70vh;
    width: 59vw;
}
.disbtn{
  width: 17vw;  
  font-size: 2em;
  margin:0.5vw;
}
.delete{
    width:6vw;  
  font-size: 1.5em;
  height: 1.7em;

}
.dnldbtn{
    margin-left: 20vw;
    width: 7vw;
    height: 2vw;
}
.dnldbtn:hover{
 background-color: rgb(29, 145, 106);
}