
.Notesbox {
    width: 70vw;
    height: 86vh;
    margin-top: 3vh;
    margin-left: 2vw;
    border-radius: 10px;

}

.inputNotes {
    font-size: 20px;
    margin-top: 2vh;
    margin-left: 1.7vh;
    border-radius: 10px;
    height: 62vh;
    width: 66.5vw;
    overflow: auto;
    text-wrap: wrap;
    padding: 10px;
}

.notesName {
    font-family: cursive;
    height: 6vh;
    margin-bottom:40px;
    margin-top: -5px;
    /* border: 2px solid black; */
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.funBtn {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    /* background-color: beige; */

}

.btn {
    font-size: 40px;
    height: 4vw;
    width: 4vw;
    background-color: white;
    border-radius: 5px;
}
.btnleft{
    font-size: 40px;
    height: 4vw;
    width: 4vw;
    background-color: rgb(239, 244, 239);
    border-radius: 5px;
}

.colorPopup {
    /* width: 20%; */
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    margin-left: 20vw;
    margin-top: 1vh;
    background-color: white;
}
