.note-display {
    margin-top: 8vh;
    background-color: #d4cece7d;
  }
  
  .no-active-note {
    display:flex;
    margin-left: 37vw;
    font-size: xx-large;
    align-items: center;
    color: #f30a02;
  }
  
  textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;

    resize: none;
  }
  
  /* textarea:focus {
    outline: none;
  } */
  