.NotesBox {
  width: 75vw;
  height: 95vh;
  border-radius: 5px;

  margin-left: 5px;
  border: 1px solid black;
}

.NotesBox form {
  margin-top: 1.8rem;
  margin-left: 8.5rem;
}

textarea {
  padding: 10px;
  font-size: 20px;
}

.NotesBox hr {
  margin-top: 1rem;
}

.NotesBox h1 {
  margin-left: 25rem;
}

.btn {
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  margin-top: 4rem;
  width: 2rem;
}

.btn button {
  font-size: 2rem;
  margin-top: 2rem;
}
.cont2 {
  display: flex ; 
}

.cont1 {
  display: flex;
}

form textarea {
  box-shadow: 5px 5px 30px;
}