.Notesbox{
    width: 70vw;
    height: 86vh;
    margin-top: 3vh;
    margin-left: 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgreen;
}
.inputNotes{
    font-size: 20px;
    margin-top: 2vh;
    margin-left: 1.7vh;
    border-radius: 10px;
    height: 62vh;
    width: 66.5vw;
    overflow: auto;
    text-wrap: wrap;
    padding: 10px;
}
.notesName{
    height:6vh;
    margin-top: 10px;
    /* border: 2px solid black; */
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.funBtn{
    margin-top:3vh;
    display: flex;
    justify-content: space-around;
    /* background-color: beige; */
    
}
.btn{
    font-size: 40px;
    height: 4vw;
    width: 4vw;
    background-color: white;
    border-radius: 5px;
}