.notesLogo {
  margin-top: 2vh;
  margin-left: 4vh;
}
.logoText {
  color: whitesmoke;
  margin-left: 0vh;
  font-size: 30px;
}
.logo {
  display: flex;
}
.logo img {
  margin-left: 3vh;
}
.navBar {
  height: 90px;
  width: 100%;
  position: relative;
  display: flex;
  border-bottom: 0.01vh solid whitesmoke;
  position: sticky;
}
.navBar i {
  font-size: 45px;
  color: wheat;
  margin-top: 2vh;
  margin-left: 4vh;

  margin-right: 40px;
}
.searchBar {
  width: 60vw;
  height: 7vh;
  margin-left: 10vh;
  margin-top: 1vh;
  background-color: white;
  font-size: 35px;
  border-radius: 12px;
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding-left: 1dvh;
}
.searchBar:hover {
  background-color: rgb(255, 255, 255);
}
::placeholder {
  color: rgb(64, 64, 67);
  text-indent: 20px;
  position: absolute;
}

.searchIcon {
  position: relative;
  margin-left: -86vh;
  width: 45px;
  height: 45px;
  filter: brightness(0) invert(1);
}
.searchBar:focus::placeholder {
  filter: brightness(0.4) hue-rotate(0deg);
}
.searchIcon:focus {
  filter: brightness(0.4) hue-rotate(0deg);
}
.saveBtn {
  padding: 10px 20px;
  font-size: 40px;
  background-color: #c8d6e5;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  margin-left: 2vh;
  margin-top: 1.5vh;
}
.menuIcon {
  color: whitesmoke;
  margin-top: 2vh;
}
