.Notesbox{
    width: 70vw;
    height: 86vh;
    margin-top: 3vh;
    margin-left: 2vw;
}
.inputNotes{
    font-size: 20px;
    margin-top: 3vh;
    margin-left: 1.7vh;
    border-radius: 10px;
    height: 62vh;
    width: 66.5vw;
    overflow: auto;
    text-wrap: wrap;
    padding: 10px;
}
.notesName{
    height:6vh;
    margin-top: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.funBtn{
    margin-top:5vh;
    display: flex;
    justify-content: space-around;
}
.btn{
    font-size: 40px;
    height: 4vw;
    width: 4vw;
    background-color: white;
    border-radius: 5px;
}