.sidebar{
    border: 2px solid black;
    width: 20%;
    margin-left: 5vw;
    border-radius: 10px;
}
.addNotes{
    border: 1px solid black;
    display: flex;
    border-radius: 8px;
}
.addbtn{
    height: 4vh;
    width: 2vw;
    margin-top: 1.5vh;
    margin-left: 2vh;
}
.kuch{
    width: 70%;
    margin-right: 1%;
    text-wrap: wrap;
}