.addbtn{
    height: 20px;
}
.not{
    text-align: center;
    border: 2px dotted blue;
    color: rgb(62, 60, 60);
    font-weight: 900;
}
.sear{
    margin-left: -10px;
    width: 230px;
    height: 40px;
    background-color: rgb(202, 222, 222);
    
}
.not{
    border: 2px solid black;
}
.grid-container {
    display: grid;
    grid-template-columns: auto 30px; /* Adjust column widths as needed */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Horizontally space items */
     
}

