.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #090a0a;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu-item {
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color: aliceblue;
}

.menu-item:hover {
  background-color: #252424;
  border-radius: 10px 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    height: 100%;
    width: 90px;
    
  
  }
}