.box{
  width: 96vw;
  height: 92vh;
  margin: auto;
  margin-top: 4vh;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(148, 104, 104);
  display: flex;
  background-color: rgb(182, 199, 152);
}